header nav {
	display: flex;
	padding: 1rem 3rem;
	justify-content: space-between;
	text-transform: capitalize;
	background-color: transparent;
	z-index: 1000;
	color: white;
	ul {
		display: flex;
		list-style-type: none;
		li {
			margin: 0rem 1rem;
			font-size: 1.2rem;
			padding: 0.5rem 1rem;
			&:hover {
				cursor: pointer;
			}
		}
	}
}
