<div class="topics " *ngIf="matter.dayslist.length && matter.active_day_index!==-1 ;else notopics">
    <ng-template #topic_data let-c="close" let-d="dismiss" class='topic_details'>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Topic</h4>
          <button type="button" class="close btn-sm btn btn-outline-danger" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body ">
          <form action="" method='' class="container-fluid">
            <label for="name" class="row my1">Topic Name</label>
            <input type="text" id = 'name' required name = 'name' [(ngModel)]="topic_name" class="row my1"><div class="row">{{topic_name}}</div>
            <label for="type" class="row my1">Type</label>
            <select name="type" id="type" name='select' class="custom-select row my1" required  [(ngModel)]="type_select">
              <option disabled selected>choose any</option>
              <option value="task">Task</option>
              <option value="pre-read">pre-read</option>
            </select><span>{{type_select}}</span>
            <label for="content" class="row my1">content</label>
            <textarea name="content" id="content" cols="50" rows="5" required [(ngModel)]="topic_content" class="row my1"></textarea>
            <label for="instructions" class="row my1">Instructions for Mentor</label>
            <textarea name="instructions" id="instructions" cols="50" rows="10" required [(ngModel)]="instructions" class="row my1"></textarea>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn border-success"(click)="c('Save click');submit()">Save</button>
        </div>
      </ng-template>
      <button (click) = 'showmodal(topic_data)' class="add_topic btn-sm btn-secondary rounded-circle m-1">+</button>
      <ul>
        <li *ngFor="let item of matter.dayslist[matter.active_day_index].topicslist;let i=index" (click) = 'matter.topic_clicked(i)'
         [class.active]='item.selected' class='container-fluid row select_topic' >
            <p class='col-lg-3'>{{item.name}}</p>
            <div class="col-lg-9 justify-content-around">
              <span *ngIf="item.contents_aside!=undefined"  class="badge badge-pill badge-success col-4">{{item.contents_aside}}</span>
              <span (click)="selectday(move);topic_to_move=i" class=" col-4 badge badge-pill badge-success">move</span>
              <button class="btn-xs btn-danger rounded-circle col-4">x</button>
            </div>
        </li>
      </ul>
</div>  
<ng-template #notopics class="container row">
  <p class='col-12 lead'>
    please add a day and click on it to click on it to add topics about particular day
  </p>
</ng-template>
<ng-template #move let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <label for="day"></label>
  <select name="day" id="day" [(ngModel)]="selectedday" class="custom-select">
    <option disabled selected> choose a day</option> 
    <option  *ngFor="let day of matter.dayslist" value='{{day.name}}'>
      {{day.name}}
    </option>
  </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="matter.movetoday(selectedday,topic_to_move);c('Save click')">Save</button>
  </div>
</ng-template>  
