<button (click)="changeselection(true)">content</button>
<button (click) = "changeselection(false)">instructions for mentor</button>
<div class="content" *ngIf="selection;else instruction">
<div *ngIf="matter.dayslist.length && matter.dayslist[matter.active_day_index].topicslist.length && matter.active_topic !== -1;else noeditor">
<angular-editor 
    [(ngModel)]="content"
    ></angular-editor>
    <button (click) = "senddata(true)">
        save
    </button>
</div>
<ng-template #noeditor>
    Add a topic and select it by clicking on it
</ng-template>
</div>
<ng-template #instruction>
    <div *ngIf="matter.dayslist.length && matter.dayslist[matter.active_day_index].topicslist.length && matter.active_topic !== -1;else noeditor">
        <angular-editor 
            [(ngModel)]="instructions"
            ></angular-editor>
            <button (click)="senddata(false)">
                save
            </button>
    </div>
        <ng-template #noeditor>
            Add a topic and select it by clicking on it
        </ng-template>
</ng-template>
