<div class='days container'>
    <button class = 'add_day'(click)='matter.add_day()' class='container btn btn-dark rounded-pill my-2'>add day</button>
    <ul class="container bg-aqua justify-content-center align-items-center">
        <li *ngFor="let item of matter.dayslist;let i= index" 
        (click)='matter.dayclicked(i)'
        [class.active] = 'matter.dayslist[i].selected'
        class='row justify-content-around py-2'
        >
                <p class="lead">{{item.name}}</p>
                <button (click) = 'deleteindex(i)'>x</button>
        </li>
    </ul>
</div>  